<h3><%= @question.title %></h3>

<p><%= @question.body %></p>
<%= link_to 'Delete Question', question_path(@question), method: :delete %>
<%= link_to 'Edit Question', edit_question_path(@question) %>


<h4>Answers</h4>
<ul>
  <% @question.answers.each do |answer| %>
    <li><%= answer.body %></li>
  <% end %>
</ul>

<h5>Answer Question</h5>
<%= form_for [@question, @answer] do |f| %>
  <%= f.text_area :body %>

  <%= f.submit 'Submit' %>
<% end %>
